{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title> Personal Schedule </title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>




<body>
	<header>
		{% include "navbar.html" %}
	</header>

	<div class = container>
		<h1 style="text-align: center; color: black">Hello, Apa kabar?</h1>
		<br>
		<h2>My status</h2>
		<div class="table-responsive">
			<table class = "table">
				<thead> 
					<th> Status </th>
				</thead>
				<tbody>
				{% for e in events %}
				<tr>
					<td> {{e.status}}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

<div class = "container2">
	<div class = "the_form">
		<h3>Add new status</h3>
		<form method="post">
			{% csrf_token %}
			{{ form }}
			<button type="submit" class="btn btn-primary">Add status</button>
		</form>
	</div>
</div>
	
	</body>
</html>




